body {
  min-height: 100vh;
  background-color: #f0f0f0;
  /* The base color of your background */
  background-image: linear-gradient(45deg,
      rgba(218, 164, 58, 0.3) 25%,
      /* Updated alpha value to 0.3 */
      rgba(191, 108, 39, 0.3) 25%,
      /* Updated alpha value to 0.3 */
      rgba(191, 108, 39, 0.3) 50%,
      /* Updated alpha value to 0.3 */
      rgba(218, 164, 58, 0.3) 50%,
      /* Updated alpha value to 0.3 */
      rgba(218, 164, 58, 0.3) 75%,
      /* Updated alpha value to 0.3 */
      rgba(191, 108, 39, 0.3) 75%,
      /* Updated alpha value to 0.3 */
      rgba(191, 108, 39, 0.3)
      /* Updated alpha value to 0.3 */
    );
}

.content {
  /*Below we can reduce opacity and switch our linear gradient colors around to
    give a light mode which will require JS*/
  background-color: rgba(44, 44, 42, 1);
  /* Semi-transparent background color */
  min-height: 100%;
}