.root {
    width: 1920px;
    height: 100%;
}

.body {
    width: 100%;
}

.feedback-image {
    background-image: url('/public/7.jpg');
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
}

.fb-form-main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    width: 80%;
}

label {
    padding: 5px;
}

input,
textarea {
    padding: 10px;
    border-radius: 40px;
}

.fb-form {
    display: grid;
}

.form-header h1 {
    color: papayawhip;
}

.fb-form-main label {
    color: papayawhip;
}

.submit-button {
    opacity: 0.8;
    background-color: rosybrown;
    width: fit-content;
    border-radius: 40px;
}

.submit-button input {
    font-size: 20px;
    font-weight: bold;
}

.submit-button:hover,
input:hover {
    opacity: 1;
}