.main-container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 80px;
}

.stack-container {
  width: 100%;
  margin: auto;
}

.column-one {
  margin: auto;
  padding: 20px;
  width: 100%;
}

.sub-header {
  font-family: 'Lexend Peta', sans-serif;
  position: static;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.card-body {
  width: 100%;
}

.card-body p {
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 20px;
}

.stack-item {
  width: 90px;
  height: 80px;
}

.stack-table {
  width: 100%;
  margin: auto;
}

.stack-name-item {
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}

.item {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

/* Mobile Responsive Styles for 768px */
@media screen and (max-width: 890px) {

  .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }

  .column-one {
    width: 100%;
    padding-left: 20px;
    /* Further adjust padding for smaller screens */
  }

  .sub-header {
    font-size: 32px;
    padding: 20px;
    /* Further reduce font size for smaller screens */
  }

  .card-body p {
    font-size: 14px;
    /* Further reduce font size for smaller screens */
  }

  .stack-container {
    margin: auto;
  }

  .stack-table {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .stack-item,
  .stack-name-item {
    width: 50px;
    /* Further reduce width for smaller screens */
    height: 40px;
    /* Further reduce height for smaller screens */
  }

  .item {
    width: 80px;
    /* Further reduce width for smaller screens */
    height: 80px;
    /* Further reduce height for smaller screens */
  }
}

/* Mobile Responsive Styles for 768px */
@media screen and (max-width: 314px) {

  .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }

  .column-one {
    width: 100%;
    padding-left: 20px;
    /* Further adjust padding for smaller screens */
  }

  .sub-header {
    font-size: 32px;
    padding: 20px;
    /* Further reduce font size for smaller screens */
  }

  .card-body p {
    font-size: 14px;
    /* Further reduce font size for smaller screens */
  }

  .stack-container {
    margin: auto;
  }

  .stack-table {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .stack-item,
  .stack-name-item {
    width: 50px;
    /* Further reduce width for smaller screens */
    height: 40px;
    /* Further reduce height for smaller screens */
  }

  .item {
    width: 80px;
    /* Further reduce width for smaller screens */
    height: 80px;
    /* Further reduce height for smaller screens */
  }
}