/* Navbar.css */

#navbarlogo {
  color: #000;
  width: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;

}


.brand {
  width: fit-content;
  margin: auto;
  font-size: 20px;
}

#brand-name-01 {
  font-weight: 800;
}

#brand-name-02 {}

.nav-item a {
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.nav-item a.active {
  color: #ffffff;
  -webkit-text-fill-color: unset;
}

.underline {
  height: 1px;
  width: 0;
  background-color: #000;
  transition: width 0.3s;
}

.underline.show {
  transition-delay: 0.1s;
}

/* To make the underline appear when the link is hovered or active */
.nav-item a:hover~.underline,
.nav-item a.active~.underline {
  color: #4d4a4a;
  width: 100%;
}

#navbar {
  width: 100%;
  position: fixed;
  margin: auto;
  padding: 20px;
  padding-left: 250px;
  padding-right: 250px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
  backdrop-filter: blur(5px); 
}

#navbar ::-webkit-scrollbar #navbarNav {
  width: fit-content;
  display: flex;


}

.nav-item {
  position: relative;
  padding-right: 10px;
  /* Increase the padding to add more space */
}

@media screen and (max-width: 575px) {

  /* iPhone 11 Pro and smaller */
  #navbarlogo {
    height: 80px;
    /* Adjust height for smaller iPhone screens */
  }

  .brand {
    font-size: 20px;
    /* Reduce font size for smaller screens */
  }

  .nav-item a {
    font-size: 20px;
    /* Reduce font size for smaller screens */
  }

  .nav-item {
    padding-right: 5px;
    /* Reduce the padding for better spacing on smaller screens */
  }

}

@media screen and (max-width: 375px) {

  /* iPhone 11 Pro and smaller */
  #navbarlogo {
    height: 80px;
    /* Adjust height for smaller iPhone screens */
  }

  .brand {
    font-size: 20px;
    /* Reduce font size for smaller screens */
  }

  .nav-item a {
    font-size: 18px;
    /* Reduce font size for smaller screens */
  }

  .nav-item {
    padding-right: 5px;
    /* Reduce the padding for better spacing on smaller screens */
  }
}