.page-header {
  width: 100%;
}

.header-section {
  width: fit-content;
  margin: auto;
  display: flex;
  padding: 40px;
}

.header-title-block {

  width: fit-content;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-title-block-item {
  font-size: 60px;
}

.header-image-block {
  width: fit-content;
  margin: auto;
  padding: 40px;
}

.header-image-block-item {
  width: 400px;
}


/* Mobile Responsive Styles for 576px */
@media screen and (max-width: 576px) {

  .header,
  .header-1 {
    width: 100%;
    font-size: 32px;
    /* Reduce font size further for smaller screens */
    margin-top: 20px;
    /* Further reduce top margin for better spacing */
  }

  .pg-1,
  .pg-2 {
    padding: 20px;
    /* Further reduce padding for better spacing */
  }
}

/* Mobile Responsive Styles for 375px */
@media screen and (max-width: 375px) {

  .page-header {
    display: block;
  }

  .page-title {
    display: flex;
    margin-top: 150px;
    width: 100%;
    flex-wrap: wrap;
  }


  .home-image-2 {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .header,
  .header-1 {
    font-size: 24px;
    /* Reduce font size further for iPhone SE and similar screens */
    margin-top: 10px;
    /* Further reduce top margin for better spacing */
  }

  .pg-1,
  .pg-2 {
    padding: 15px;
    /* Further reduce padding for better spacing */
  }
}

/* Mobile Responsive Styles for 320px */
@media screen and (max-width: 320px) {

  .page-header {
    display: block;
  }

  .page-title {
    display: flex;
    margin-top: 150px;
    width: 100%;
    flex-wrap: wrap;
  }

  .home-image-2 {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .header,
  .header-1 {
    width: 100%;
    font-size: 20px;
    /* Further reduce font size for smaller iPhone screens */
    margin-top: 5px;
    /* Further reduce top margin for better spacing */
  }

  .pg-1,
  .pg-2 {
    padding: 10px;
    /* Further reduce padding for better spacing */
  }
}