/* ScrollDownTimeDelay.css */
.scroll-indicator {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    height: 60px;
    width: 60px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}

  .scroll-indicator:hover{
    border: 2px solid #9C4343;
    color: #fff;
    background-color: #9C4343;
    box-shadow: 5px 5px 10px #522e2e;
  }
  
