.social-container {
  width: 100%;
  margin: auto;
  padding: 80px;
  display: flex;
}

.social-column-one {
  margin: auto;
  padding: 20px;
  width: 100%;
}

.socials {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.social-table {
  width: 100%;
  height: 100%;
}

.social-table-header {
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  height: 100px;
  width: 400px;
  font-size: 40px;

}

.social-item {
  width: 90px;
  height: 90px;
  margin: auto;
  padding: 10px;
}

.social-item:hover,
.social-table tr {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 10px;
}


.social-sub-header {
  font-family: 'Lexend Peta', sans-serif;
  position: static;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.social-card-body {
  width: 100%;
}

.social-card-body p {
  background-image: linear-gradient(to right, #ffffff 35%, #d4d4d4 70%, #6C6A69 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 20px;
}

/* Mobile Responsive Styles for 768px */
@media screen and (max-width: 320px) {
  .social-container {
    width: 100%;
    flex-wrap: wrap;
  }

  .social-column-one {
    padding: 20px;
    /* Further adjust padding for smaller screens */
  }

  .social-table-header {
    font-size: 24px;
    /* Further reduce font size for smaller screens */
  }

  .social-item {
    width: 80px;
    /* Further reduce width for smaller screens */
    height: 50px;
    /* Further reduce height for smaller screens */
  }

  .social-item:hover,
  .social-table tr {
    width: 100px;
    /* Further reduce width for smaller screens */
    height: 60px;
    /* Further reduce height for smaller screens */
  }

  .social-sub-header {
    font-size: 32px;
    /* Further reduce font size for smaller screens */
  }

  .social-card-body p {
    font-size: 14px;
    /* Further reduce font size for smaller screens */
  }
}