.subheader {
    width: 100%;
}

.subheader-section-block {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.subheader-block {
    width: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.subheader-block-item {
    width: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.subheader-block-item p {
    text-align: center;
    font-size: 20px;
    text-align: center;
}